<ion-header>
  <ion-toolbar color="primary shade">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row col-12>
        <ion-col col-6>
          <span>
            <strong>Titulo:</strong>
          </span>
          <br>
          <span>{{producto_title}}</span>
        </ion-col>
        <ion-col col-3>
          <span>
            <strong>Precio:</strong>
          </span>
          <br>
          <span>{{producto_price}}</span>
        </ion-col>
        <ion-col col-3>
          <span>
            <strong>Fecha:</strong>
          </span>
          <br>
          <span>{{producto_updated_at}}</span>
        </ion-col>
      </ion-row>
        <ion-row col-12>
          <ion-col col-6>
            <span>
              <strong>Latitud:</strong>
            </span>
            <br>
            <span>{{producto_latitude}}</span>
          </ion-col>
          <ion-col col-6>
            <span>
              <strong>Longitud:</strong>
            </span>
            <br>
            <span>{{producto_lonitude}}</span>
          </ion-col>
        </ion-row>
      
      <div>
          <span><strong>Direccion:</strong></span><span>{{producto_addres}}</span>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>