ion-content {
    .buttonsContainer {
        margin-top: 15%;
        text-align: center;
    }

    .picture{
        margin: auto;
        width: 30%;
    }

  /*   .text-danger{
        font-size: 100px;
        background-color: black;
        border-radius: 10px;
    } */
    .picture{
        //visibility: hidden;
        border-radius: 20px;
    }

    .datos{
        text-align: center;
    }

    
}

